$color:#000;
.scss{
	color:$color;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	@mixin rounded-corners{
		-moz-border-radius: 5px;
		-wekit-border-radius: 5px;
		border-radius: 5px;
	}
	@mixin radius($value){
		-moz-border-radius: $value;
		-wekit-border-radius: $value;
		border-radius: $value;
	}
	%box{
		width:50px;
		height:60px;
		border: red solid  3px;
	}
	.mixin-border{
		@include rounded-corners;
		@extend %box !optional;
	}
	.mixin-border-fun{
		@include radius(10px);
		@extend %box !optional;
	}

}


