.aside{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  border-radius : 2px;
  -moz-border-radius : 2px;
  -webkit-border-radius : 2px;
  box-shadow : 0px 1px 3px rgba(26, 26, 26, 0.1);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color='#1A1A1A');
  .aside-header{
    -webkit-background-size: 100% 100%;
    background: url('../assets/header-img.jpeg') no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    border:2px #E1E1E1 solid;
  }
}
