
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body ,html {
  font: 100% $font-stack;
  color: $primary-color;
  width:100%;
  height:100%;
  #app{
    width:100%;
    height:100%;
  }
}



